<h1>Message Board</h1>
<span class="tiny">Me: {{ (playerName | async) }}</span>
<div id="divMessages" class="messages">
  <div class="message" *ngFor="let msg of receivedMessages">
    <span class="message-author">{{ msg.Username }}: </span><span>{{ msg.Content }}</span>
  </div>
</div>
<div class="input-zone">
  <form [formGroup]="sendForm" (ngSubmit)="sendSubmit()">
    <div>
      <input class="input" id="message" type="text" formControlName="Content" placeholder="Type a message..">
    </div>
    <button type="submit">Send</button>
  </form>
</div>
