<h1 id="tableLabel">My Adopted Cats</h1>

<p *ngIf="!myCats"><em>Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="myCats">
    <thead>
        <tr>
          <th>Name</th>
          <th>Pattern</th>
          <th>Color</th>
          <th>Stats</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of myCats">
          <td>{{ cat.Name }}</td>
          <td>{{ cat.Pattern }}</td>
          <td>{{ cat.Color }}</td>
          <td>{{ cat.Stats }}</td>
        </tr>
    </tbody>
</table>

<app-weather-forecast></app-weather-forecast>
